<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.omnirom.theme.accent.razergreen"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android" android:priority="1"/>

    <application android:label="Razer Green" android:hasCode="false"/>
</manifest>

